:root {
	--sidewidth: 62px;
	--li-dia: 40px;
	--button-hover-bg: rgb(24, 24, 165);
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	position: relative;
	font-family: 'Calibri';
	resize: none;
}

header {
	align-items: center;
	text-align: center;
	background: rgb(81, 43, 43);
	color: white;

}

body {
	background: rgb(24, 24, 165);
	color: beige;
	height: 100vh;
	min-height: 450px;
	position: relative;
}

.sidenav {
	height: 100%;
	border-right: 2px solid rgb(15, 0, 81);
	width: var(--sidewidth);
	min-height: 100%;
	position: fixed;
	float: left;
	background: rgb(53, 87, 255);
	
}

.wrapper_dropdown {
	position: relative;
	width: 60px;
	height: 60px;
	overflow: hidden;
	display: inline-block;
}

.wrapper_dropdown:hover {
	overflow: visible;
}

.color_dropdown {
	list-style-type: none;
	position: absolute;
	width: calc(calc(var(--li-dia)) * 6);
	min-width: var(--sidewidth);
	padding: 5px;
	/* z-index: 9999; */
}

.color_dropdown:hover {
	background: var(--button-hover-bg);
	border: 1px solid black;
}

.color {
	width: var(--li-dia);
	height: var(--li-dia);
	border-radius: 50%;
	display: block;
	text-align: center;
	text-decoration: none;
	float: left;
	margin: 5px;
}


.color_dropdown li {
	border: 3px solid rgba(0, 255, 34, 0.7);
	opacity: 0.7;
}

.color#red {
	background-color: red;
}

.color#black {
	background-color: black;
}

.color#yellow {
	background-color: yellow;
}

.color#white {
	background-color: white;
}

.color:hover {
	border: 5px solid rgb(0, 255, 34);
	opacity: 1;
}

.wrapper-text-btn {
	padding: 5px 0;
	width: 100%;
	color: white;
}

.text-btn {
	padding: 10px;
	width: 60px;
	height: 60px;
}
.text-btn:hover {
	background: var(--button-hover-bg);
}

.wrapper_linking {
	padding: 5px 0;
	position: absolute;
	bottom: 0;
	height: 40%;
	width: 100%;
	display: flex;
}

.img-wapper:hover {
	background: var(--button-hover-bg);
}
#linking {
	/* display: flex; */
	justify-items: center;
	margin-top: 5px;
	overflow: auto;
}

#linking img {
	width: 60px;
	height: 60px;
	background-color: transparent;
	color: white;
	margin: auto;
}

#linking img:hover {
	cursor: pointer;
}

#saveBtn,
#imgHome {
	/* margin: 1rem; */
	padding: 10px;
}

#mainContent {
	/* position: relative; */
	margin: 0 1rem;
	padding-left: 10px;
	margin: 0 200px 0 var(--sidewidth);
	z-index: initial;

}

.typing {
	height: 100%;
	z-index: 11;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.typing div:empty:before {
	content: attr(data-placeholder);
	color: rgb(222, 191, 191);
}

#noteTitle,
#noteData {
	margin: 10px 0;
	padding: 10px 15px;
	/* margin: auto; */
	display: inline;
	vertical-align: middle;
	resize: none;
	font-size: 1.3rem;
	background: rgb(20, 14, 84);
	color: white;
	border: 1px black solid;
	border-radius: 7%;
}

#noteTitle {
	display: inline;
}

#noteData {
	height: 300px;
	min-height: 200px;
	overflow: auto;
}

#notice {
	font-size: 1.2rem;
	background: green;
	width: 100%;
	padding: 10px;
	border-radius: 5%;
}